{
  "desiredState": "inactive",
  "options": [
    {
      "section": "Unit",
      "name": "Description",
      "value": "{{item.description}}"
    },    
    {
      "section": "Unit",
      "name": "After",
      "value": "docker.service"
    },    
    {
      "section": "Unit",
      "name": "Requires",
      "value": "docker.service"
    },
{% if item.unit_opts is defined %}
{% for u in item.unit_opts %}
    {
      "section": "Unit",
      "name": "{{u.option}}",
      "value": "{{u.value}}"
    },
{% endfor %}
{% endif %}
    {
      "section": "Service",
      "name": "User",
      "value": "core"
    },
{% if item.service_opts is defined %}
{% for x in item.service_opts %}
    {
      "section": "Service",
      "name": "{{x.option}}",
      "value": "{{x.value}}"
    },
{% endfor %}
{% endif %}
    {
      "section": "Service",
      "name": "ExecStartPre",
      "value": "-/usr/bin/docker kill %p.i%"
    },
    {
      "section": "Service",
      "name": "ExecStartPre",
      "value": "-/usr/bin/docker rm %p.%i"
    },
    {
      "section": "Service",
      "name": "ExecStartPre",
      "value": "/usr/bin/docker pull {{item.docker.image}}"
    },
    {
      "section": "Service",
      "name": "ExecStart",
      "value": "/usr/bin/docker run {% if item.docker.options is defined %}{% for o in item.docker.options %}{{o.option}} {%if o.value is defined %}{{o.value}} {% endif %}{% endfor %}{% endif %}--name %p.%i {{item.docker.image}}"
    },
    {
      "section": "Service",
      "name": "ExecStop",
      "value": "/usr/bin/docker stop %p.%i"
    }{% if cluster_host is defined and cluster_host != 'global' %},
    {
      "section": "X-Fleet",
      "name": "MachineMetadata",
      "value": "hostname={{cluster_host}}"
    }{% if item.xfleet_opts is defined %},{% endif %}
{% endif %}
{% if item.xfleet_opts is defined %}
{% for x in item.xfleet_opts %}
    {
      "section": "X-Fleet",
      "name": "{{x.option}}",
      "value": "{{x.value}}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}

  ]
}
