[Unit]
Description={{item.description}}
After=docker.service
Requires=docker.service
{% if item.unit_opts is defined %}
{% for u in item.unit_opts %}
{{u.option}}={{u.value}}
{% endfor %}
{% endif %}

[Service]
User=core
{% if item.service_opts is defined %}
{% for x in item.service_opts %}
{{x.option}}={{x.value}}
{% endfor %}
{% endif %}
ExecStartPre=-/usr/bin/docker kill %p.%i
ExecStartPre=-/usr/bin/docker rm %p.%i
ExecStartPre=/usr/bin/docker pull {{item.docker.image}} 
ExecStart=/usr/bin/docker run {% if item.docker.options is defined %}{% for o in item.docker.options %}{{o.option}} {%if o.value is defined %}{{o.value}} {% endif %}{% endfor %}{% endif %}--name %p.%i {{item.docker.image}}
ExecStop=/usr/bin/docker stop %p.%i

[X-Fleet]
{% if cluster_host is defined and cluster_host != 'global' %}
MachineMetadata=hostname={{cluster_host}}
{% endif %}
{% if item.xfleet_opts is defined %}
{% for x in item.xfleet_opts %}
{{x.option}}={{x.value}}
{% endfor %}
{% endif %}
